/* Variables de CSS para los temas */
:root {
    --main-bg-color: #f4f4f4;
    --header-bg-color: #4CAF50;
    --text-color: #333;
    --footer-bg-color: #333;
    --footer-text-color: white;
}

/* Tema oscuro */
.dark-theme {
    --main-bg-color: #333;
    --header-bg-color: #222;
    --text-color: #f4f4f4;
    --footer-bg-color: #444;
    --footer-text-color: #fff;
}

/* Diseño General y Layout */
body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1, h2, h3 {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif; /* Fuente para encabezados */
}

header {
    background-color: var(--header-bg-color);
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    text-align: center;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 10px 0;
}

footer a {
    color: var(--footer-text-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #ffcc00; /* Color que contrasta al pasar el mouse */
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    background-color: #e7e7e7; /* Fondo para hacer más atractivo */
    padding: 10px;
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para Responsividad */
@media (max-width: 600px) {
    body {
        margin: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }
}

/* Estilos para la imagen de perfil */
.profile-image {
    width: 100px; /* Ajusta el tamaño según lo desees */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    display: block;
    margin: 0 auto; /* Centra la imagen */
}
