/* Diseño General y Layout */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

/* Estilos para Responsividad */
@media (max-width: 600px) {
    body {
        margin: 10px;
    }

    header h1 {
        font-size: 1.5em;
    }
}
